* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


#grilla {
  width: 100vw;
  height: 200vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.7fr 1fr 0.2fr ;
  grid-template-areas:
    "nav nav nav"
    "header header header"
    "main main main"
    "footer footer footer";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

header {
  grid-area: header;
  /*background-image: url("../assets/imagenes/logobanda.png");*/
    /*background-size: cover;
  background-color: red;
  background-position: bottom bottom;
  align-items: column;*/
 overflow: hidden;
}

header figure{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.logo-banda{
  height: 100%;
  width: 100%;
  object-fit: COVER;

}

.isjonnylogo {
  height: 200px;
  width: 150px;
  padding-bottom: 30px;
  display: flex;
  justify-items: left;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


main {
  background-color: gray;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;


  grid-template-areas:
 
    "section1 section1 section1"
    "section1 section1 section1";
    
    

  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#seccion-uno {
  grid-area: section1;
  display: flex;
  align-items: center;
  margin: auto;
 

}

/*--Carrusel--*/
.image-remera {
  width: 100vw;
  height: 100vh;
  margin: auto;
 
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}


/*carousel productos*/
.carousel-item {

background-color: black;

}
.carousel-item h1 {


  font-size: 20PX;
  color: black;

}




footer {
  background-color: rgb(38, 41, 41);
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 3rem;

}


.logoRed {
  
  width: 50px;
  height: 50px;
 
}

footer ul {
  display: flex;
  gap: 3rem;
  flex-direction:row;
  
}

footer .botonizquierdo {

 
  background-color: white;
  padding: 10px;
  border-radius: 20%;
 
 
}

footer .botonizquierdo a {


  
  color: black;
  font-size: 20px;
   margin: auto;  

  
}

footer .botonderecho {

  background-color: white;
  padding: 10px;
  border-radius: 30%;
  
  
 
}

 footer .botonderecho a {

 
  
  color: black;
  font-size: 20px;

}







/*MENU*/
.nav{
  grid-area: nav; 
}

.nav-item a{
  padding:2px;
  font-size: 30px;
  
 }
.nav-item a:hover{
 border-bottom: 1px solid rgb(235, 219, 219);
}

/* formulario perteneciente a la pagina de contactos*/
form {

  display: block;
  width: 350px;
  border: 3px solid black;
  margin: 20px;
  padding: 20px;
  margin: 0 auto;
  background-color: rgb(14, 13, 13);
  color: white;
}


label {

  font-size: 20px;
  display: block;
  width: 100%;
  padding: 10px;
}

input,
textarea {

  margin-bottom: 20px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid black;
}

/* parrafo perteneciente a la pagina de nosotros*/

.contenedor-articulonosotros {

width: 100vw;

}

.articuloNosotros {
  
  width: 100vw;
  color: white;
  font-size: 20px;
  background-color: #000;
  padding: 50px;

}




@media screen and (max-width: 600px) {

  #grilla {
    width: 100vw;
    height: 200vh;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr ;
    grid-template-areas:
      "nav "
      "header "
      "main "
      "footer ";
    
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  
footer {
  background-color: rgb(38, 41, 41);
  grid-area: footer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  gap: 1rem;

}

}
 
  